body{
  position: relative;
  background-image: url('../img/bodybg.jpg')

}

.row1 img{
  top: 175px;
}

.row2 img{
  top: 300px;
}

.row3 img{
  top: 425px;
}

.row4 img{
  top: 550px;
}

.row5 img{
  top: 675px;
}

.row6 img{
  top: 800px;
}

.row7 img{
  top: 925px;
}

.row8 img{
  top: 1050px;
}

.row9 img{
  top: 1175px;
}

.col1{
  left: 780px;
}

.col2{
  left: 870px;
}

.col3{
  left: 960px;
}

.col4{
  left: 1050px;
}

.col5{
  left: 1140px;
}

.col6{
  left: 1230px;
}

.row1 img.col1{
  opacity: 1;
}

.board {
  position: absolute;
  left: 0´x
  top: 0;
}

.board img, .currentCard img{
  opacity: 0;
  position: absolute;
  height: 100px;
}

.currentCard img{
  position: absolute;
  height: 200px;
}

#theCard{
  top: 350px;
  left: 900px;
}
